#Eclipse Config Files
/.settings/
.classpath
.project
.springBeans

#Idea Config Files
/.idea/
/src/main/webapp/angular-fms/.idea/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# TS Compilation Files #
*.js.map
/src/main/webapp/angular-fms/app/**/*.js

#Node and NPM Files
/src/main/webapp/angular-fms/node_modules/
/src/main/webapp/angular-fms/node/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/

/bin/