/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
* { margin:0; padding:0; }

html, body { width:100%; height:100%; margin:0px;}

.context-bar{
  padding: 10px;
  border-radius: 1px;
  position: fixed;
  bottom:0%;
  width:7%;
  opacity: 1;
  margin-left: 5px;
}
.publish{
  padding: 15px 15px;
  font-size: 15px;
  background-color: black;
  color: white;
  float:right;
}
#sliderzoom{
  width: 20px;
  height: 100px;
  border: solid rgba(0,0,0,0.3) 1px;
  margin-top: 8px;
  margin-left: 16px;
  margin-bottom: 8px;
  -webkit-appearance: slider-vertical;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  padding: 9px 9px;
  font-size: 16px;
  line-height: 1.33;
  border-radius: 25px;
  background-color: #00395d;
  color: white;
}

.btn-circle {
  width: 50px;
  height: 50px;
  padding: 15px 15px;
  font-size: 25px;
  line-height: 1.33;
  border-radius: 50%;
  background-color: #00395d;
  color: white;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fileUpload {
  position: relative;
  overflow: hidden;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.explorer{
  top: 50px;
  right: 0%;
  width: 305px;
  margin: 1px 10px;
  padding-top:10px;
  padding-left: 60px;
  /*margin-left: 100px ;*/
}

.explorer-list{
  list-style: none;
}

#tooltip-span{
  display:block;
  position:fixed;
  overflow:hidden;
  background-color: black;
  color:white;
  padding:10px;
  box-shadow: 1px 1px 2px grey;
  border-radius:5px
}

#logout{
  position: fixed;
  top: 0%;
  right: 170px;
  margin: 10px;
  height: 35px;
  width: 100px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.example-five {
  position: relative;
}

.example-five-checkbox {
  display: none;
}

.example-five-checkbox:checked + .example-five:after {
  content: "-";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
}
.navbar{
  background-color:#00395d;
  color:#00395d ;
}
.modal-content{
  color:#00395d;
  border-color: #00395d;
}
.modal-body{
  color:#00395d;
}
.btn{
  background-color: #00395d;
  color: white;

}
.navbar-default .navbar-nav>li>a {
  color:white ;
}
.navbar-default :hover.navbar-nav>li>a:hover {
  color:lightskyblue ;
}

.navbar-default .navbar-brand{
  color:white ;
}