/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
* { margin:0; padding:0; }

html, body { width:100%; height:100%; margin:0px;}

.tooltip {
  text-decoration:none;
  position:relative;
}
.tooltip span {
  display:none;
}
.tooltip:hover span {
  display:block;
  position:fixed;
  overflow:hidden;
}

.context-bar{
  padding: 10px;
  border-radius: 1px;
  position: fixed;
  bottom:0%;
  width:100%;
  opacity: 1;
  margin-left: 5px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  padding: 9px 9px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  background-color: black;
  color: white;
}

.btn-circle {
  width: 50px;
  height: 50px;
  padding: 15px 15px;
  font-size: 25px;
  line-height: 1.33;
  border-radius: 50%;
  background-color: black;
  color: white;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fileUpload {
  position: relative;
  overflow: hidden;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.publish{
  padding: 15px 15px;
  font-size: 15px;
  background-color: black;
  color: white;
  float:right;
}
.explorer{
  position: fixed;
  border-radius: 5px;
  top: 50px;
  right: 0%;
  width: 305px;
  height: 170px;
  overflow: auto;
  background-color: white;
  margin: 1px 10px;
  padding-top:10px;
  padding-left: 60px;
  border: 2px solid;
  font-size: large;
  /*margin-left: 100px ;*/
}

#explorerDropDown{
  position: fixed;
  top: 0%;
  right: 0%;
  margin: 10px;
  height: 35px;
  width: 150px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

#logout{
  position: fixed;
  top: 0%;
  right: 170px;
  margin: 10px;
  height: 35px;
  width: 100px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.example-five {
  position: relative;
}

.example-five-checkbox {
  display:none;
}

.example-five-checkbox:checked + .example-five:after {
  content: "-";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
}