<my-tooltip></my-tooltip>

<span class="zoom-panel">
    <a href="#" id="zoomin" class="btn btn-circle zoom-in" (click)="zoomIn()"><i class="glyphicon glyphicon-zoom-in"></i></a>
    <input id="sliderZoom" (change)="changeZoomLevel($event.target.value)" value={{zoomValue}} type="range" min=".1" max="1.9" step="0.1">
    <a href="#" id="zoomout" class="btn btn-circle zoom-out" (click)="zoomOut()"><i class="glyphicon glyphicon-zoom-out"></i></a>
</span>
<span class="publish-panel" *ngIf="showPublish">
    <button class= "btn btn-publish" (click)="publishDecision(true)">Publish <i class="glyphicon glyphicon-floppy-saved"></i></button>
    <button class= "btn btn-publish" (click)="publishDecision(false)">Cancel <i class="glyphicon glyphicon-floppy-remove"></i></button>
</span>

<div *ngIf="showLoader">
<span id="loader" class="centered">
    <p style="text-align: center">
        <img src="../../resources/img/loading.gif" height="50px" width="50px"><br><br>
        Arranging Tables and Chairs
    </p>
</span>
</div>

<div class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" id="errorModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <p>We could not fetch data. Please check your network connection.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Upload</button>
            </div>
        </div>
    </div>
</div>