<div class="modal fade" data-keyboard="false" tabindex="-1" role="dialog" id="uploadModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
                <div class="modal-header">
                    <h4 class="modal-title">File Upload</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <div class="col-md-4">
                                    <label for="select-country" >Country: </label>
                                    <select  id="select-country" (change)="getCities($event.target.value)" class="form-control" [formControl]="form.controls['country']" >
                                        <option disabled selected></option>
                                        <option *ngFor="let country of countries" value={{country.id}}>{{country.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div>
                                <div class="col-md-4">
                                    <label for="select-city">City: </label>
                                    <select id="select-city" (change)="getLocations($event.target.value)" class="form-control" [formControl]="form.controls['city']">
                                        <option disabled selected></option>
                                        <option *ngFor="let city of cities" value={{city.id}}>{{city.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div>
                                <div class="col-md-4">
                                    <label for="select-location">Location: </label>
                                    <select id="select-location" (change)="getLevels($event.target.value)" class="form-control" [formControl]="form.controls['location']">
                                        <option disabled selected></option>
                                        <option *ngFor="let location of locations" value={{location.id}}>{{location.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div>
                                <span class="col-md-4">
                                    <label for="select-floor">Floor: </label>
                                    <select id="select-floor" (change)="getPlanExistStatus($event.target.value)" class="form-control" [formControl]="form.controls['floorId']">
                                        <option disabled selected></option>
                                        <option *ngFor="let level of levels" value={{level.id}}>{{level.floorCode}}</option>
                                    </select>
                                </span>
                                <span class="layout-status" *ngIf="planExistStatus">Floor Layout Already Exists</span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label for="uploadFile">Upload floor layout:
                            </label>
                            <div>
                                <div class="col-md-4">
                                    <input id="uploadFile" class="form-control" placeholder={{uploadFileName}} disabled="disabled" />
                                </div>
                                <div class="btn fileUpload btn-circle-sm">
                                    <i class="glyphicon glyphicon-folder-close"></i>
                                    <input id="uploadBtn" type="file" class="upload" [formControl]="form.controls['upload']" (change)="uploadFileListener($event)"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn"  href="#" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Close</a>
                    <button type="submit" class="btn" value="submit"><i class="glyphicon glyphicon-upload"></i> Preview</button>
                </div>
            </form>
        </div>
    </div>
</div>