
<div id="layoutExplorer" class="explorer" >
    <ol class="tree">
        <li>
            <label for="folder1"><div *ngFor="let country of countries">{{country.name}}</div></label>
            <input type="checkbox" id="folder1" />
            <ol>
                <li>
                    <label for="subfolder1">

                    </label>
                    <input type="checkbox" id="subfolder1" />
                    <ol>
                        <li>
                            <label for="subsubfolder1">Noida</label> <input type="checkbox" id="subsubfolder1" />
                        </li>
                    </ol>
                </li>
                <li>
                    <label for="subfolder2">Pune</label> <input type="checkbox" id="subfolder2" />
                    <ol>
                        <li>
                            <label for="subsubfolder2">Hinjewadi</label> <input type="checkbox" id="subsubfolder2" />
                            <ol>
                                <li class="file"><a href="">Floor 1</a></li>
                                <li class="file"><a href="">Floor 2</a></li>
                                <li class="file"><a href="">Floor 3</a></li>
                                <li class="file"><a href="">Floor 4</a></li>
                                <li class="file"><a href="">Floor 5</a></li>
                                <li class="file"><a href="">Floor 6</a></li>
                            </ol>
                        </li>
                        <li>
                            <label for="subsubfolder3">Kharadi</label> <input type="checkbox" id="subsubfolder3" />
                            <ol>
                                <li class="file"><a href="">Floor 1</a></li>
                                <li class="file"><a href="">Floor 2</a></li>
                                <li class="file"><a href="#" data-country="India" data-city="Pune" data-branch="Kharadi" data-floor="3">Floor 3</a></li>
                                <li class="file"><a href="">Floor 4</a></li>
                                <li class="file"><a href="">Floor 5</a></li>
                                <li class="file"><a href="">Floor 6</a></li>
                                <li class="file"><a href="">Floor 7</a></li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>

    </ol>

</div>
