<!--<div class="explorer">-->
    <ul>
        <li *ngFor="let country of countries">
            <input type="checkbox" id="country-checkbox" class="example-five-checkbox" (click)="toggleCountry(country)"/>
            <label id="country-icon" for="country-checkbox" class="example-five">+</label>
            {{country.name}}
            <ul>
                <li *ngFor="let city of country.cities">
                    --
                    <input type="checkbox" id="city-checkbox" class="example-five-checkbox" (click)="toggleCity(city)"/>
                    <label id="city-icon" for="city-checkbox" class="example-five">+</label>
                    {{city.name}}

                    <ul>
                        <li *ngFor="let location of city.locations">
                            ----
                            <input type="checkbox" id="location-checkbox" class="example-five-checkbox"(click)="toggleLocation(location)"/>
                            <label id="location-icon" for="location-checkbox" class="example-five">+</label>
                            {{location.name}}

                            <ul>

                                <li *ngFor="let level of location.levels"
                                    [class.selected]="level === selectedLevel"
                                    (click)="onSelect(level.id)">

                                    ------{{level.floorCode}}

                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <!--&lt;!&ndash;<tree-view [directories]="dir.directories"></tree-view>&ndash;&gt;-->
            <!--</div>-->
        </li>
    </ul>
<!--</div>-->
<!--<span class="iconButton" (click)="dir.toggle()">{{dir.getIcon()}}</span>-->
<!--&lt;!&ndash;<input type="checkbox" [checked]="dir.checked" (click)="dir.check()" /> &ndash;&gt;-->
<!--{{ dir.floorCode }}-->
