<div class="modal fade" data-keyboard="false" tabindex="-1" role="dialog" id="uploadModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
                <div class="modal-header">
                    <h4 class="modal-title">File Upload</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <div class="col-md-4" >
                                    <label for="select-country">Country: </label>
                                    <select  (change)="getCities($event.target.value)" id="select-country" class="form-control" [formControl]="myForm.controls['country']" >
                                        <option disabled selected></option>
                                        <option *ngFor="let country of countries" >{{country.name}}</option>
                                        </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div>
                                <div class="col-md-4">
                                    <label for="select-city">City: </label>
                                    <select (change)="getLocations($event.target.value)" id="select-city" class="form-control" [formControl]="myForm.controls['city']">
                                        <option disabled selected></option>
                                        <option *ngFor="let city of cities" >{{city.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div>
                                <div class="col-md-4">
                                    <label for="select-location">Location: </label>
                                    <select (change)="getLevels($event.target.value)"id="select-location" class="form-control" [formControl]="myForm.controls['location']">
                                        <option disabled selected></option>
                                        <option *ngFor="let location of locations" >{{location.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div>
                                <div class="col-md-4">
                                    <label for="select-floor">Floor: </label>
                                    <select id="select-floor" class="form-control" [formControl]="myForm.controls['floor']">
                                        <option disabled selected></option>
                                        <option *ngFor="let level of levels" >{{level.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label for="uploadFile">Upload floor layout:
                            </label>
                            <div>
                                <div class="col-md-4">
                                    <input id="uploadFile" class="form-control" placeholder="No File Selected" disabled="disabled" />
                                </div>

                                <div class="fileUpload btn-circle-sm">
                                    <i class="fa fa-folder"></i>
                                    <input id="uploadBtn"  type="file" class="upload" [formControl]="myForm.controls['upload']" (change)="changeListener($event)"/>
                                </div>
                            </div>
                        </div>

                        <!--<div class="modal-footer">-->
                        <a class="btn" style="background-color:black; color:white" href="/layoutapp/index2.html">Close</a>
                        <button type="submit" class="btn" value="submit" style="background-color:black; color:white"><i class="fa fa-upload"></i> Upload</button>
                        <!--</div>-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
